node_modules/
.idea/
.vscode/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.-lock.json
playwright-report/
test-results/
.DS_Store
.env
coverage/
dist/
build/
__pycache__/
*.pyc
.pytest_cache/
